.body_principal{
    background-image: url(../IMG/background_5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #F2F2F2;
}
ul, p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: italic;
    text-align: center;
}
.nombre_principal h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.parrafo_principal p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    width: 80%;
    margin-left: 6rem;
    margin-top: 50px;
}
.caja_usuario{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.caja_sesion{
    display: flex;
    justify-content: end;
    align-items: center;
}
.caja_sesion button{
    width: 80px;
    height: 50px;
}
.logo_samsung{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.imagenes_samsung{
    margin-top: 3rem;
}
.logo_playstation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.imagn
.imagenes_playstation{
    margin-top: 5rem;
    padding-top: 2rem;
}
.logo_iphone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
}
.imagenes_iphone{
 margin-top: 5rem;  
 padding-top: 5rem; 
}