@import url(./Sing_In.css);
@import url(./Sing_Up.css);
@import url(./Principal.css);

:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
    --white-color: #FCF8F8;
    --green-color: #4EDAAB;
    --red-color: #A92222;
    --gray-color: #998896;
    --black-color: #000000;
    --margin: 3rem;
}
@media screen and (max-width:480px){
 :root{
  width: 100%;
  justify-content: center;
  display: block;
 }
}
body{
    margin: var(--margin); 
    color: var(--black-color);
    background-image: url(../IMG/technology-785742_1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p{
  color: #F2F2F2;
}
h1{
  color: #F2F2F2;
}
li{
  color: #fff;
}

.navegacion{
    text-decoration: none;
    margin: 3rem;
  }
  nav ul li{
    color:#F2F2F2;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--white-color);
    border-bottom: 10px;
    border-color: wheat;
  }
  
  .Titulo_navegacion{
    color: #F2F2F2;
    font-size: var(--big-font-size);
    margin-left: 0%;
    padding: 0%;
  }
  
  li, .navegacion{
    font-size: .938rem;
    font-family: var(--body-font);
    display: inline-block;
    transition: 0.4s;
    padding: 0px 20px;
    color: #F2F2F2;
  }
.Logo_N{
    position: absolute;
    margin-left: 15%;
}
.lema{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  text-shadow: 2px 2px #6722D8;
}
.logo_principal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 8rem;
}
.titulo_inicio{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.Texto_Inicio{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.Texto_Inicio .parrafo_inicio{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 3rem;
  margin-right: 12rem;
}
.Vision{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.Vision, .parrafo_vision{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80%;
  margin-left: 7rem;
}
.titulo_vision{
  display: flex;
  justify-content: end;
  margin-top: 7rem;
  margin-right: 30%;
  margin-bottom: 2rem;
}
.titulo_mision{
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
}
.Mision{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.Mision .parrafo_mision{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
  margin-right: 12rem;
}
.Listas_productos, ul li{
  color: #F2F2F2;
  margin-left: 2.5rem;
  padding-left: 2rem;

}
.titulo_lista h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  color: #F2F2F2;
}

.titulo_tfooter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  color: #F2F2F2;
}
.titulo_tfooter, h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.imgenes_tfooter{
  display: flex;
  align-items: center;
  justify-content: center;
}