@import url(./Sing_In.css);
@import url(./Sing_Up.css);

:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
    --white-color: #FCF8F8;
    --green-color: #4EDAAB;
    --red-color: #A92222;
    --gray-color: #998896;
    --black-color: #000000;
    --margin: 3rem;
}
body{
    margin: var(--margin); 
    color: var(--black-color);
    background-color: var(--gray-color);
}
.navegacion{
    text-decoration: none;
    margin: 3rem;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--white-color);
    border-bottom: 10px;
    border-color: black;
  }
  
  .Titulo_navegacion{
    color: var(--black-color);
    font-size: var(--big-font-size);
    margin-left: 0%;
    padding: 0%;
  }
  
  li, .navegacion{
    font-size: .938rem;
    font-family: var(--body-font);
    display: inline-block;
    transition: 0.4s;
    padding: 0px 20px;
  }
.Logo_N{
    position: absolute;
    margin-left: 15%;

}
.Texto_Inicio{
    position: absolute;
    margin-right: 55%;
    margin-top: 250px;
    font-size: var(--body-font);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--white-color);
}
.Logo_I{
    display: flex;
    margin-left: 34%;
}
h2{
  display: flex;

  margin-top: 20px;
  margin-left: 30%;
  text-shadow: 2px 2px var(--white-color);
}
.Imagen_3{
  position: relative;
  margin-left: 60%;
  margin-top: 350px;
  justify-content: space-between;
}
